<div class="container">
 <h1>Welcome to Pinpin Tweeter!</h1>
  <p>Hello, world!</p>

  <form action="/tweet" method="POST">
    <input type="text" id="tweet" name="tweet"></input>
    <input id="get_tweets" type="submit" value="Tweet!"></input>
  </form>
</div>

